src/main/app/trackmyclaim.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/servicenow http://www.mulesoft.org/schema/mule/servicenow/current/mule-servicenow.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="trackmyclaimFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/trackmyclaim" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="bf880cfa-8336-49fc-9404-65ccbdf167d3">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.service-now.com/incident
---
{
	ns0#getRecords: {
		number: payload.claim_id
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <servicenow:invoke config-ref="ServiceNow__Basic_Configuration" type="incident||getRecords" doc:name="ServiceNow"/>
        <json:xml-to-json-transformer doc:name="XML to JSON"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	storename : payload.getRecordsResponse.getRecordsResult.company,
	membership_id : payload.getRecordsResponse.getRecordsResult.description,
	product_id : payload.getRecordsResponse.getRecordsResult.category,
	problem_id : payload.getRecordsResponse.getRecordsResult.problem_id,
	claim_id :  payload.getRecordsResponse.getRecordsResult.number,
	Current_Status: "Claim has received" when payload.getRecordsResponse.getRecordsResult.short_description == null otherwise payload.getRecordsResponse.getRecordsResult.short_description ,
	state : "New" when payload.getRecordsResponse.getRecordsResult.state == "1" 
						otherwise "In Progress" when payload.getRecordsResponse.getRecordsResult.state == "2" 
						otherwise "On Hold" when payload.getRecordsResponse.getRecordsResult.state == "3" 
						otherwise "Resolved" when payload.getRecordsResponse.getRecordsResult.state == "6" 
						otherwise "Closed" when payload.getRecordsResponse.getRecordsResult.state == "7" 
						otherwise "Cancelled" when payload.getRecordsResponse.getRecordsResult.state == "8" 
						otherwise ""
} ]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
